@keyframes color {
  0% {
    color: #FF5959;
    fill: #FF5959;
  }
  33% {
    color: #5980FF;
    fill: #5980FF;
  }
  66% {
    color: #FFAE59;
    fill: #FFAE59;
  }
  100% {
    color: #59FF65;
    fill: #59FF65;
  }
}

body {
  padding-left: 20px;
  height: 100vh;
  display: grid;
}

footer, section, header {
  width: 100%;
}
section {
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 348px;
  color: #FFF;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.dd {
  position: relative;
  font-family: "Century Gothic", sans-serif;
  font-size: 28px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.dd:hover {
  animation: color 1s infinite forwards;
  cursor: pointer;
}

.mail {
  display: block;
  width: 228px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  text-decoration: none;
  color: black;
  margin-top: 10px;

}
  .mail:hover {
    box-shadow: 0px 1px 0px 0px black;
  }